<form class="needs-validation" [formGroup]="userForm" (submit)="onsubmit()" novalidate>
    <div class="form-group">
      <label for="userName">Username:</label>
      <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="Enter Username" name="userName" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
     <div class="form-group">
        <label for="uname">Firstname:</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter Firstname" name="firstName" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="lastName">Lastname:</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastName" placeholder="Enter Lastname" name="lastName" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile:</label>
        <input type="number" class="form-control" id="mobile" formControlName="mobile" placeholder="Mobile" name="mobile" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email" name="email" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password" name="password" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div> 
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> 
  </form>
  <!-- <button (click)="deleteUser(userForm.get('userName').value)" class="btn btn-danger">Delete user</button> -->
  <!-- <button (click)="deleteUser('familyzoner')" class="btn btn-danger">Delete user</button> -->
  
  <button  class="btn btn-danger"><a (click)="deleteUser(userForm.get('userName').value)">Delete User</a></button>