/* You can add global styles to this file, and also import other style files */
form{
    background-color:darkkhaki;
}
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

body {
    margin: 1rem 0px;
    
    .text-muted {
      margin-top: 2rem;
    }
  }